:root {
    --colour: #8b2828;
}

/* .create-body{
    position: absolute;
    z-index: 100;
    width: 98.25vw;
    height: 83vh;
    display: grid;
    place-content: center;
    transform: translate(-50%, -50%);
} */

.create-background {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.create-body {
    position: absolute;
    z-index: 100;
    width: 98.25vw;
    height: 83vh;
    display: grid;
    place-content: center;
}

.modal {
    display: grid;
    place-content: center;
    animation: mod 3s ease forwards;
}


@keyframes mod {
    from {
        height: 1vh;
        width: 1vw;
        display: grid;
        place-content: center;
    }

    to {
        height: 83vh;
        width: 100vw;
        display: grid;
        place-content: center;
    }
}

.create-title-container {
    width: 50%;
}

.create-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(60, 148, 248);
    animation: modal 1s ease forwards;
}

@keyframes modal {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(0.9);
        width: 50vw;
        height: 50vh;
    }
}