.nav {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #111;
}

.links-container {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  padding-right: 5%;
}

.nav-link {
  text-decoration: none;
  color: #eee;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  position: relative;
}

.nav-link::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  left: 0;
  bottom: 0;
  top: auto;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 550px) {
  .nav {
    width: 100%;
    background-color: #111;
  }

  .burger-container {
    width: 200px;
    margin: 100px auto;
  }

  .burguer button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
  }

  .burguer button span {
    border-radius: 5px;
    background-color: #eee;
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2px;
    animation: 1s forwards;
  }

  /*animaciones */
  .burguer button .top-line {
    animation: top-line-animation;
  }

  .burguer button .mid-line {
    animation: mid-line-animation;
  }

  .burguer button .bottom-line {
    animation: bottom-line-animation;
  }

  .burguer button .top-line {
    animation: top-line-close;
  }

  .burguer button .mid-line {
    animation: mid-line-close;
  }

  .burguer button .bottom-line {
    animation: bottom-line-close;
  }

  @keyframes top-line-animation {
    50%, 100%{
      margin: 0 auto;
      transform: translateY(2px) rotate(-45deg);
    }
  }
}